<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
  <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!-->

  <html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Proximitus -- Save time, search local shops from home.</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/freelancer.css" rel="stylesheet" type="text/css">

    <!-- Our CSS -->
    <link rel="stylesheet" href="css/main.css">

    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

      <!-- Facebook OpenGraph tags https://developers.facebook.com/docs/opengraph/creating-object-types/#metatags -->
  <!-- <meta property="og:title" content=""/>
  <meta property="og:type" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/> -->

  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Fav and touch icons, add these yourself.
      <link rel="shortcut icon" href="/assets/ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    -->

  </head>

  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="navbar-brand" href="#page-top" src="img/logo.png">
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
              <a href="#about">About</a>
            </li>
            <li class="page-scroll">
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-text">
              <span class="name">Bringing your local shops online.</span>
              <span class="arrow"><img src="img/arrows/linking-arrow.png"></span>
              <div class="row">
                <div class="col-md-4 col-md-offset-2">
                  <div class="value well well-outline">
                    <h1>Sign-up now and be the first to:</h1>

                    <ul>
                      <h2><li type='square'>Browse</li></h2>
                      <h2><li type='square'>Discover</li></h2>
                      <h2><li type='square'>Click&Collect</li></h2>
                    </ul>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="well well-white">
                    
                    <div id="notices">
                      <div id="success" class="success" style="display: none;">Success! Please check your inbox for a confirmation request. To change any of the data you entered please fill out the form again.</div>
                      <div id="error" class="error" style="display: none;">Sorry, the name or email address was incorrect. Please try again.</div>
                    </div>

                    <form action="/signup" class="form-group" id="signup-form">
                      <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input id="name" name="name"  type="text" class="form-control" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="email">E-mail address</label>
                        <input id="email" name="email"  type="text" class="form-control" placeholder="E-mail address">
                      </div>
                      <div class="form-group">
                        <div class="checkbox-inline">
                          <label>
                            <input type="checkbox" name="shopper">
                            I am a local shopper.
                          </label>
                        </div>
                        <div class="checkbox-inline">
                          <label>
                            <input type="checkbox" name="owner">
                            I am a local shop owner.
                          </label>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary btn-success btn-lg">Keep me posted!</button>
                    </form>
                  </div>
                </div>

              </div>
              <span class="arrow"><p>Find out more&hellip;</p><img src="img/arrows/down-arrow.png"></span>
            </div>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </header>

      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2>About</h2>
              <hr class="simple">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <p>At proximitus.co we love Mill Road. We treasure the experience of shopping locally. In the light of the continuous decline of high streets in the UK we aim to help local shops acquire an affordable online presence. </p>
            </div>
            <div class="col-lg-4">
              <p>You will be able to search for local produce online, discover ingredients you never knew existed on Mill Road and use a click&collect service for even better shopping experience.</p>
            </div>
          </div>
          <div class="distant-row row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
              <p>You can support the project by leaving your email address and we will let you know when the service becomes available.</p>
            </div>
          </div>
          <div class="distant-row row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="#" class="btn btn-primary btn-success btn-lg">
                <i class="fa fa-download"></i> Count Me In
              </a>
            </div>
          </div>
          </div>
        </div>
      </section>

      <section class="success" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2>Contact Us</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="contact-form well well-white">
                <form role="form">
                <div class="row">
                  <div class="form-group col-xs-12 floating-label-form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" placeholder="Name">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12 floating-label-form-group">
                    <label for="email">Email Address</label>
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12 floating-label-form-group">
                    <label for="message">Message</label>
                    <textarea placeholder="Message" class="form-control" rows="5"></textarea>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-lg btn-success">Send</button>
                  </div>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="text-center">
        <div class="footer-above">
          <div class="container">
            <div class="row">
              <div class="footer-col col-md-4">
                <h3>Location</h3>
                <p>3481 Melrose Place
                  <br>Beverly Hills, CA 90210</p>
                </div>
                <div class="footer-col col-md-4">
                  <h3>Around the Web</h3>
                  <ul class="list-inline">
                    <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                    </li>
                    <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                    <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="footer-col col-md-4">
                  <h3>About Freelance</h3>
                  <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-below">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  Copyright &copy; 2014 - Your Name
                </div>
              </div>
            </div>
          </div>
        </footer>

        <div class="scroll-top page-scroll visible-xs visble-sm">
          <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
          </a>
        </div>

        <!-- Portfolio Modals -->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                      </li>
                      <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                      </li>
                      <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                      </li>
                      <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                      </li>
                      <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                      </li>
                      <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                      </li>
                      <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                      </li>
                      <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                      </li>
                      <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                      </li>
                      <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                      </li>
                      <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h2>Project Title</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                    <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                    <ul class="list-inline item-details">
                      <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                      </li>
                      <li>Date: <strong><a href="http://startbootstrap.com">April 2014</a></strong>
                      </li>
                      <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script src="js/jquery-1.10.2.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/cbpAnimatedHeader.js"></script>
        <script src="js/freelancer.js"></script>
        <script src="/js/main.js"></script>

      </body>

      </html>
