@import url(http://fonts.googleapis.com/css?family=ABeeZee);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  color: #52585D;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Header */
.navbar-default {
  background-color: white;
}

.navbar-brand {
  padding: 2px;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-fixed-top {
  padding: 5px;
}
.navbar-fixed-top.navbar-shrink {
  padding: 0;
}
header img {
    margin-bottom: 0;
}
/* end header */

/* Wells */
.well {
  border-radius: 20px;
  margin: 20px;
}
/* end wells */

/* Value prop */

.value {
  text-align: left;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.7em;
  margin-top: .8em;
  margin-bottom: 1.7em;
}

h2 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

hr.simple {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

.well-outline {
  background: transparent;
  border: 4px dotted white;
}

/* end value prop */


/* Form formatting */
form {
  text-align: center;
  margin-top: 10px;
  color: black;
}

.well-white {
  background-color: white;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* end form formatting */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "agb", 'ABeeZee', Helvetica Neue, Helvetica, Arial, sans-serif;
}

header .intro-text .name {
    font-family: "agb", 'ABeeZee', Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}

header .intro-text .skills {
    text-align: left;
}

@media(min-width:768px) {
    header .container {
        padding: 100px 0 100px;
    }

    header .intro-text .name {
        font-size: 4em;
    }
}

.navbar {
    font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.contact-form {
  padding-left: 50px;
  padding-right: 50px;
}

.distant-row {
  margin-top: 20px;
}
