@import url(http://fonts.googleapis.com/css?family=ABeeZee);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  color: #52585D;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
}

#success {
  color: #40449B;
}

#error {
  color: #E52228;
}

/* Header */
.navbar-default {
  background-color: white;
}

.navbar-brand {
  padding: 2px;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-fixed-top {
  padding: 5px;
}
.navbar-fixed-top.navbar-shrink {
  padding: 0;
}
/* end header */

/* Wells */
.well {
  border-radius: 20px;
  margin: 20px;
}
/* end wells */

/* Value prop */

.value {
  text-align: left;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.value > h1 {
  font-size: 1.7em;
  margin-top: .8em;
  margin-bottom: 2em;
}

.value > h2 {
  font-size: 2em;
  margin-top: .4em;
  margin-bottom: .4em;
}

h2 {
  margin-bottom: 31px;
}

.well-outline {
  background: transparent;
  border: 4px dotted white;
}

/* end value prop */


/* Form formatting */
form {
  text-align: center;
  margin-top: 10px;
  color: black;
}

.form-control {
  border-color: #7D838A;
}

.well-white {
  background-color: white;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-success {
  background-color: #7bb666;
  border-color: #7bb666;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: #3e6530;
  border-color: #3e6530;
}

/* end form formatting */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "agb", 'ABeeZee', Helvetica Neue, Helvetica, Arial, sans-serif;
}

header .intro-text .name {
    font-family: "agb", 'ABeeZee', Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}

header .intro-text .skills {
    text-align: left;
}

@media(min-width:768px) {
    header .container {
        padding: 100px 0 100px;
    }

    header .intro-text .name {
        font-size: 4em;
    }
}

.navbar {
    font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
}

